.margin {
    margin: 64px 20px;

}

table, th ,td {
    border: 1px solid rgb(0, 0, 0);
    width: 450px;
}

table.width {
    width: 450px;
}

div.lol {
    width: 450px; 
    margin-left: 35%;
  }

.container {
background-color: #160a0a;
padding: 1300px;
max-width: 4000px;
margin-left: auto;
margin-right: auto;
}